@model Domain.App.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Routes" class="control-label"></label>
                <input asp-for="Routes" class="form-control" />
                <span asp-validation-for="Routes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalQuotedPrice" class="control-label"></label>
                <input asp-for="TotalQuotedPrice" class="form-control" />
                <span asp-validation-for="TotalQuotedPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuotedTravelTime" class="control-label"></label>
                <input asp-for="QuotedTravelTime" class="form-control" />
                <span asp-validation-for="QuotedTravelTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportationCompanyNames" class="control-label"></label>
                <input asp-for="TransportationCompanyNames" class="form-control" />
                <span asp-validation-for="TransportationCompanyNames" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ValidUntil" class="control-label"></label>
                <input asp-for="ValidUntil" class="form-control"/>
                <span asp-validation-for="ValidUntil" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
