@model Domain.App.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Routes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Routes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalQuotedPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalQuotedPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuotedTravelTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuotedTravelTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportationCompanyNames)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportationCompanyNames)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValidUntil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValidUntil)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>