@model IEnumerable<Domain.App.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Routes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalQuotedPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotedTravelTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransportationCompanyNames)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ValidUntil)
        </th>*@
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Routes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuotedPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotedTravelTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportationCompanyNames)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ValidUntil)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>