/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: left;
    word-break: break-all;
  }
  
  /* Provide sufficient contrast against white background */
  a {
    color: #0366d6;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }
  
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: page;/*relative;*/
    min-height: 100%;
  }
  
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #5b798c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .headerImg {
    max-width: 100%;
    height: auto * 0.1;
    /*width: auto * 0.5; /* ie8 */
  }

  .mainImg {
    width: 100%;
  }

  .bg-img {
    background-image: "http://www.driftime.ee/wp-content/uploads/2015/01/wt-1024x576.jpg"; 
    position:fixed; 
    z-index:1; 
    top:0; 
    height: 100%; 
    width: 100%;
  }

  .content {
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
  }

  .nav-link:hover, .form-control, option:hover {
    background-color: #86a6ba;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  

 /* Loading spinner */

 .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #ffffff; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* End of loading spinner */


/* Display image on failed image load */
img:after {
  max-width: 20px;
  content: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_WqFiDYqEO1jfg4Om8Tjlb-8tAYfunhix5w&usqp=CAU");
}

